.btn .submit {
    width: 100%;
}
div.wrapper {
    margin: 20px;
    border: purple 1px solid;
    box-sizing: border-box;
    padding: 30px;
}
.result {
    display: none;
}
.result.active {
    display: block;
}