<footer id="sticky-footer" class="page-footer bg-dark text-white-50">
    <div class="container text-center text-white">
        <small>Copyright &copy; Shanthini Rajarathinam</small>
    </div>
</footer>