{% extends 'base.html.twig' %}

 {% block title %} Symfony React Project {% endblock %}

 {% block body %}

     {# react root container Element #}
     <div id="root"></div>

     {#Footer#}
     {% include 'layout/footer.html.twig' %}

 {% endblock %}